#! /bin/bash

QEMU_IMG=./images/qemu-img
KERNEL_IMG=./images/kernel-img

run_opts_file=/tmp/run_opts
dbg_opt="cxl_acpi.dyndbg=+fplm cxl_pci.dyndbg=+fplm cxl_core.dyndbg=+fplm cxl_mem.dyndbg=+fplm cxl_pmem.dyndbg=+fplm cxl_port.dyndbg=+fplm cxl_region.dyndbg=+fplm cxl_test.dyndbg=+fplm cxl_mock.dyndbg=+fplm cxl_mock_mem.dyndbg=+fplm dax.dyndbg=+fplm dax_cxl.dyndbg=+fplm device_dax.dyndbg=+fplm"
KERNEL_CMD="root=/dev/sda rw console=ttyS0,115200 ignore_loglevel nokaslr ${dbg_opt}"
edac_debug=""
#For arm64, use kernel command like below
#KERNEL_CMD="earlycon root=/dev/vda1 fsck.mode=skip tp_printk maxcpus=4 ${dbg_opt} ${edac_debug}"
SHARED_CFG=""
ssh_port=2025
net_config="-netdev user,id=network0,hostfwd=tcp::${ssh_port}-:22 -device e1000,netdev=network0"
#user name for the VM, by default it is "root"
vm_usr="root"

#section: needed if need to git pull for setup

# ndctl_url="https://github.com/pmem/ndctl"
# ndctl_branch="main"

# Kernel CXL-related patches: NOT upstreamed
kernel_url="https://git.kernel.org/pub/scm/linux/kernel/git/cxl/cxl.git/"
kernel_branch="fixes"

# DCD patches
# kernel_url="https://github.com/weiny2/linux-kernel.git"
# kernel_branch="dcd-v4-2024-11-07"

# DCD + MCTP
kernel_url="https://github.com/anisa-su993/anisa-linux-kernel.git"
kernel_branch="dcd-v4-2024-12-11"

# UPSTREAM QEMU
# qemu_url="https://gitlab.com/qemu-project/qemu.git"
# qemu_branch="master"

# Jonathan Cameron's QEMU branch (necessary for some newer stuff)
qemu_url="https://gitlab.com/jic23/qemu.git"
qemu_branch="cxl-2024-08-20"

# tcg or kvm
accel_mode="kvm"
cxl_test_tool_dir="./cxl_test_tool/"
cxl_test_log_dir="/tmp/cxl_logs/"
cxl_host_dir="/tmp/host/"

# libcxlmi
libcxlmi_url="https://github.com/anisa-su993/libcxlmi.git"
libcxlmi_branch="feature_cmds"

# ndctl
ndctl_url="https://github.com/weiny2/ndctl.git"
ndctl_branch="dcd-region2-2024-11-03"

# logging
json_tmp=/tmp/logs/tmp.json
